<div class="gists">
  <%= render :partial => 'shared/gists', :locals => { :gists => @gists } %>
</div>
<%= link_to 'Load More Gists', gists_path(:page => @gists.next_page), :class => 'load-more-gists', :remote => true if @gists.next_page %>
