          <div class="masthead clearfix">
            <div class="inner">
              <h3 class="masthead-brand">Gists</h3>
              <ul class="nav masthead-nav">
                <li class="active"><a href="/">Home</a></li>
                <li><a href="/gists/new">New Gist</a></li>
              </ul>
            </div>
          </div>